@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes renovation {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@keyframes design {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}

@keyframes experience {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

.animate-renovation {
  animation: renovation 1.5s ease-in-out forwards;
}

.animate-design {
  animation: design 1.5s ease-in-out forwards;
}

.animate-experience {
  animation: experience 1.5s ease-in-out forwards;
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotate-y {
  animation: rotateY 1s linear forwards;
}
/* Hero animation */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.8s ease-out forwards;
  opacity: 0;
}

.animate-fade-in-left {
  animation: fade-in-left 1.4s ease-out forwards;
  opacity: 0;
}

.animate-fade-in-up {
  animation: fade-in-up 1.4s ease-out forwards;
  opacity: 0;
}

.delay-1 {
  animation-delay: 0.1s;
}
.delay-2 {
  animation-delay: 0.2s;
}
.delay-3 {
  animation-delay: 0.3s;
}
.delay-4 {
  animation-delay: 0.4s;
}
.delay-5 {
  animation-delay: 0.5s;
}
.delay-6 {
  animation-delay: 0.6s;
}
.delay-7 {
  animation-delay: 0.7s;
}
.delay-8 {
  animation-delay: 0.8s;
}

/* fonts */
html,
body {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

/*homepage about section grid*/
.grid-section-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 1fr 1fr 2fr 0.5fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
}

.grid-about-1 {
  grid-area: 1 / 1 / 7 / 2;
}
.grid-about-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-about-3 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-about-4 {
  grid-area: 3 / 2 / 4 / 3;
}
.grid-about-5 {
  grid-area: 4 / 2 / 5 / 3;
}
.grid-about-6 {
  grid-area: 5 / 2 / 6 / 3;
}

@media screen and (max-width: 1024px) {
  .grid-section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-about-1 {
    order: 3;
  }
  .grid-about-2 {
    order: 1;
  }
  .grid-about-3 {
    order: 2;
  }
  .grid-about-4 {
    order: 4;
  }
  .grid-about-5 {
    order: 5;
  }
  .grid-about-6 {
    order: 6;
  }
}

@keyframes rotateX {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotateXReverse {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.icon-rotate {
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.1s;
}

.icon-rotate:hover {
  transform: rotateY(180deg);
  transition-delay: 0.1s;
}

/* Stilul pentru dreptunghiul vertical */
.vertical-rect {
  position: absolute;
  top: -50%; /* Ajustează pentru a acoperi imaginea */
  bottom: -50%; /* Ajustează pentru a acoperi imaginea */
  left: 0;
  width: 25%; /* Lățimea dreptunghiului */
  background-color: rgba(255, 255, 255, 0.3); /* Culoare albă translucidă */
  transform: translateX(-200%) rotate(-30deg); /* Poziționează dreptunghiul în afara vizualului și îl rotește */
  transition: transform 2s ease-in-out;
  transform-origin: center; /* Setează punctul de rotație */
}

/* La hover, deplasează dreptunghiul la dreapta */
.group:hover .vertical-rect {
  transform: translateX(500%) rotate(-30deg); /* Translatează și menține rotația */
}

a,
button,
.drawer-trigger {
  outline: none;
}

/* CSS pentru animatie de deschidere meniul servicii*/
.swing-in-top-bck {
  animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-bck {
  0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
